.refresh_image{
  float:right;
  width:30px;
  height=30px;
  padding: 5px 5px;
}
.content {
    /*overflow: hidden;*/
    padding-left: 0px;
    padding-right: 0px;
}
.scroll {
    overflow: scroll;
    height: 436px;
}
.scroll-x, ::-webkit-scrollbar{
  overflow-x: scroll;
  height: 7px;
}
.connection_tab tr:hover {
    background-color: rgba(192, 197, 200, 0.54);
    cursor: pointer;
}
