input[type=text], select, input[type=number], input[type=date], input[type=textarea], input[type=email], input[type=password] {
    width: 150px;
}
input[type=time] {
    width: 65px;
}
td {
    width: 85px;
}
.load {
    display: none;
}
#load {
    display: none;
}
.content{
  overflow-y: hidden;
}


.ds_tab{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
}
.ds_th{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
}

#change_ds{
  padding:0 0;
  height: 15px;
  width:47px;
  font-size: 9px;
    background-color: #ebebe4;
}
#show_ds{
  padding:0 0;
  height: 15px;
  width:47px;
  font-size: 9px;
  background-color: #ebebe4;
}
.edit_ds{
  width: 30px;
  padding: 0px;
}
.delete_ds{
  width: 30px;
  padding: 0px;
}
.dsbuttons{
  width:50px;
  height:18px;
  box-shadow: 1px 2px 0px 0px grey;
  border-radius: 3px;
  text-shadow: 0px 1px 0px #7aa1c1;
  text-align: center;
  font-size: 11px;
  margin-top:10px;
  margin-left:10px;
}
.btn_txt{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
}
.actiondiv2 {
  height:40px;
  width: 100%;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  background-color: #9eaeb3;
}


.actiondiv1{
  height:40px;
}

#ds_content{
  height: max-height;
  overflow: auto;
}
