.task_extractor, .task_report, .lower_buttons {
    display: none;
}

.show {
    display: block;
}

.hide {
    display: none;
}

td {
    width: 76px;
}

input[type=text], select, input[type=number], input[type=date], input[type=textarea], input[type=email], input[type=password] {
    width: 150px;
}

.initial_disable_color {
    background-color: rgb(235, 235, 228);
}
.set_ds_th{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
}

.actiondiv1{
  height:40px;
}
